form {
    margin-top: 10px;
}

.markItem {
    width: 38px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance: textfield;
}